<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Anime</title>
</head>

<body>
  <h1>Anime</h1>
  <h2><%= anime.name %></h2>
  <img src="<%= anime.image %>" alt="<%= anime.name %>">
  <p><%= anime.description %></p>
  <div class="">
    <form action="/delete" method="post">
      <div class="">
        <!-- <input type="hidden" name="animeId" value="<%= anime._id %>">
        <button>Delete</button> -->
      </div>
    </form>
  </div>
</body>

</html>
