<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Home</title>
</head>

<body>
  <h1>Home Page</h1>
  <% for(let anime of animes){%>
    <ul>
      <li><h1><a href="/<%= anime._id %>"><%= anime.name %></a></h1></li>
      <li><img src="<%=anime.image%>" alt="<%= anime.name %>"></li>
      <li><p><%= anime.description %></p></li>
    </ul>
  <%}%>
  <a href="/add-anime">Add Anime</a>
</body>

</html>
